:root {

    --color-tema: rgba(0, 57, 92, 1);
    /* #00395C */
    --color-tema-secundario: rgb(24, 173, 153);
}

body {
    margin: 0;

}

header {
    position: fixed;
    background-color: transparent;
    width: 100%;
    /* border: 1px dotted white; */
    text-align: center;
    /* height: 180px; */
}

.logo {
    margin: 20px 0 0px 0;
    height: 72px;


}

main {
    height: 1000px;
}

main .portada {
    height: 739px;
    border: 2px solid red;
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: url('/assets/images/foto-portada.png');
    background-size: cover;
    background-position: 50% 50%;

}

.menu-principal {

    /*es un ul y viene con un margin de 1m arriba y abajo por defecto en chrome, nos aseguramos que en otros navegadores asi sea*/
    margin: 1em 0px;
    box-sizing: border-box;
    padding: 0px;
    /*eliminar los valores del navegador*/
    /* display: flex; */
    display: none;
    justify-content: center;


}

.menu-principal>li {
    display: flex;
    /*solo para centrar el contenido horizontal y verticalmente*/
    align-items: center;
    justify-content: center;
    /* border: 1px dotted white; */
    padding: 0px 0px;
    height: 30px;
    flex-grow: 0;
    text-align: center;
    font-size: 0.8em;
    position: relative;
    /* */
    flex-basis: 200px;
}


.menu-principal>li a {
    color: white;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.3s;
    transition-delay: 0s;
}

.menu-principal>li:hover>a {
    color: var(--color-tema-secundario);
    transition-property: color;

}

.menu-principal>li:hover .submenu {
    display: flex;
}

.submenu {
    left: 0px;
    top: 30px;
    margin: 0px;
    /*sobreescribimos cualquier valor del navegador*/
    padding: 0px 0px;
    width: 100%;
    display: none;
    flex-direction: column;
    position: absolute;
}

.submenu>li {
    display: block;
    background-color: white;
    padding: 10px;
    flex-grow: 1;
    text-align: center;
    font-size: 0.8em;
    color: gray;

    transition-property: background-color;
    transition-duration: 0.5s;
    transition-delay: 0s;


}

.submenu>li:hover {
    background-color: var(--color-tema-secundario);
    color: white;

}

.submenu>li a {
    color: currentColor;
    text-decoration: none;
}


details.menu-movil {
    margin-bottom: 1em;
    transition: all 0.5s ease-in-out;
    max-height: 35px;
    overflow: hidden;

}

details[open].menu-movil {
    max-height: 500px;
    margin-bottom: 0;

}


.menu-movil summary {
    width: 25px;
    padding: 4px;
    font-size: 1.3em;
    border-radius: 5px;
    margin: 0px auto;
    background-color: var(--color-tema);
    color: white;
    list-style: none;
    cursor: pointer;
}

.menu-movil summary>span::before {
    content: "\f0c9";
}

.menu-movil[open] summary>span::before {
    content: "\f00d";
}

.menu-movil div {
    background-color: aliceblue;

}

.menu-movil .submenu {
    margin: 1em 0 0 0;
    display: flex;
    position: static;
}

@keyframes mostrar-barra {

    to {
        background-color: var(--color-tema);
        /* height: 160px; */
    }

}

header {

    animation: mostrar-barra linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@keyframes anima-logo {

    to {
        height: 60px;
    }

}

.logo {

    animation: anima-logo linear both;
    animation-timeline: scroll(root);
    animation-range: 0 200px;
}

@media (min-width:600px) {
    .menu-principal {
        display: flex;
    }

    .menu-movil {
        display: none;
    }
}